div {
    display: flex;
    flex-direction: column;
}

#human {
    background-color: #00af00;
}

#dealer {
    background-color: #c40a22;
}

.hand {
    display: flex;
    flex-direction: row;
}

.card {
    text-align: center;
    height: 50px;
    width: 5px;
    border-radius: 25px;
    padding: 100px;
    background: #fff;
}

div.card#down {
    background: black;
}

div.controls {
    color: #bbb;
    border-radius: 50%;
}

div#contextual {
    visibility: hidden;
}

#split {
    //visibility: visible;
}
