html, body, .container {
    height: 100%;
}
main.container {
    display: flex;
    flex-direction: column;
}

div.field#human {
    background-color: #00af00;
    flex-basis: 60%;
}

div.field#dealer {
    background-color: #c40a22;
    //flex-basis: 30%;
}

div.hand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div#human>div.hand {
    justify-content: center;
}

div.card {
    border-style: ridge;
    border-color: black;
    text-align: center;
    height: 50px;
    width: 5px;
    border-radius: 20px 10px;
    padding: 100px;
    background: #fff;
}

div.card#down {
    background: black;
}
#controls {
    color: #bbb;
    font-size: 60px;
    //border-radius: 80%;
    display: flex;
    justify-content: center;

}

div#contextual {
    visibility: hidden;
}

#split {
    //visibility: visible;
}
